{% extends 'admin/admin_panel.html' %}
{% block changing %}
<!-- Main Page Starts -->
<div class="main-panel">
	{% set msg = get_flashed_messages()%}
    {%for i in msg%}
    <p class="alert alert-success mt-2">{{i}}</p>
    {%endfor%}
	<div class="content-wrapper">
	  <div class="row">
		<div class="col-md-12 grid-margin">
		  <div class="row">
			<div class="col-12 col-xl-8 mb-4 mb-xl-0">
			  <h3 class="font-weight-bold">Welcome, <span><b>{{ admin.first_name }} {{ admin.last_name }}</b></span>
			</h3>
			<h6 class="font-weight-normal mb-0">All systems are running smoothly.
				<span class="text-primary">{{ user.first_name }} {{ user.last_name }}</span>
				just signed up as a new user and
			</h6>
			<h6 class="font-weight-normal mb-0 mt-2">
				<span class="text-danger">{{ journalist.first_name }} {{ journalist.last_name }}</span>
			just signed up as a new journalist.
			</h6>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-6 grid-margin transparent">
		  <div class="row">
			<div class="col-md-6 mb-4 stretch-card transparent">
			  <div class="card card-tale">
				<div class="card-body">
				  <p class="mb-4">Number of registered Users:</p>
				  <p class="fs-30 mb-2">{{users}}</p>
				</div>
			  </div>
			</div>
			<div class="col-md-6 mb-4 stretch-card transparent">
			  <div class="card card-dark-blue">
				<div class="card-body">
				  <p class="mb-4">Number of Registered Journalists:</p>
				  <p class="fs-30 mb-2">{{journalists}}</p>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
			  <div class="card card-light-blue">
				<div class="card-body">
				  <p class="mb-4">Total Number of News Posted:</p>
				  <p class="fs-30 mb-2">{{news}}</p>
				</div>
			  </div>
			</div>
			<div class="col-md-6 stretch-card transparent">
			  <div class="card card-light-danger">
				<div class="card-body">
				  <p class="mb-4">Recent News Posted:</p>
				  <p class="">{{new.news_title}}</p>
				  <p>Published: <span>{{new.date_published}}</span></p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	  <!-- News Flash Starts -->
	  <div class="row">
		<div class="col-md-12 grid-margin stretch-card">
		  <div class="card position-relative">
			<div class="card-body">
			  <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<div class="row">
						<div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
						  <div class="ml-xl-4 mt-3">
							  <img class="" src="{{url_for('static',filename='uploads/'+new.news_image)}}" alt="#" />
							<a href="/news/{{new.news_id}}/">
								<p class="text-primary mb-2 mb-xl-0">{{new.news_title}}</p>
							</a>
						  </div>  
						  </div>
						<div class="col-md-12 col-xl-9">
						  
						</div>
					  </div>
				  </div>
				  {%for i in news_flash%}
				  <div class="carousel-item">
					<div class="row">
					  <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
						<div class="ml-xl-4 mt-3">
							<img class="" src="{{url_for('static',filename='uploads/'+i.news_image)}}" alt="#" />
							<a href="/news/{{i.news_id}}/">
								<p class="text-primary mb-2 mb-xl-0">{{i.news_title}}</p>
							</a>
						</div>  
						</div>
					  <div class="col-md-12 col-xl-9">
						
					  </div>
					</div>
				  </div>
				  {%endfor%}
				</div>
				<a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- News Flash Ends -->

	</div>
	<!-- content-wrapper ends -->
  </div>
<!-- Main Page Ends -->
{% endblock changing %}