{% extends 'admin/admin_panel.html' %}
{%block changing%}

<!-- Test Tables starts -->
<div class="main-panel">
	<div class="content-wrapper">
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
	  <div class="card">
		<div class="card-body">
		  <h2 class="card-title text-center">Sportsteady Community of Journalists</h2>
		  <div class="row">
			<div class="col-12">
			  <div class="table-responsive table-hover">
				<table class="display expandable-table" style="width:100%">
				  <thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email Address</th>
						<th>Residential Address</th>
						<th>Contact Number</th>
						<th>Date Registered</th>
						<th>Time Registered</th>
						<th>Remove Journalist</th>
					</tr>
				  </thead>
				  <tbody>
					{% for i in journalists %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ i.first_name }}</td>
                    <td>{{ i.last_name }}</td>
                    <td>{{ i.email_address }}</td>
                    <td>{{ i.residential_address }}</td>
                    <td>{{ i.contact_number }}</td>
                    <td>{{ i.date_registered.strftime('%A, %d %B %Y') }}</td>
                    <td>{{ i.date_registered.strftime('%I:%M:%S %p ') }}</td>
                    <td>
                        <a href="/admin/remove/journalist/{{ i.id }}" onclick="return confirm('Do you really want to Remove {{ i.first_name }} {{ i.last_name }}?')" class="text-danger">
                            Remove
                        </a>
                    </td>
                </tr>
                {% endfor %}
				  </tbody>
			  </table>
			  </div>
			</div>
		  </div>
		  </div>
		</div>

		
	  </div>
	</div>
</div>
</div>
<!-- Test Tables ends -->

{%endblock changing%}